<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/asset/style/style.css">
    <link rel="stylesheet" href="/static/asset/style/jquery.skippr.css">
    <script type="text/javascript" src="/static/asset/js/jquery.js"></script>
    <script type="text/javascript" src="/static/asset/js/waypoints.min.js"></script>
    <script type="text/javascript" src="/static/asset/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/static/asset/js/jquery.skippr.min.js"></script>
    <script type="text/javascript" src="/static/asset/js/code.js"></script>

    <script>
        $(function () {
            $("#menu").waypoint('sticky');
            $('#submit_payment').click(
                    function(){
                        $('#msform').submit();
                    }
            );
        });
    </script>
    <title>حس</title>
</head>
<body>
<div id="wrapper">
    <section>
        <div id="menu">
            <div id="logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#smallAbout">هدف</a></li>
                    <li><a href="#sponser">حامیان</a></li>
                    <li><a href="#donate">کمک مالی</a></li>
                    <li><a href="#statistics">آمار</a></li>
                    <li><a href="#row">خبرنامه</a></li>
                    <li><a href="#">درباره ما</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <header>
        <div id="header">
            <div id="bgHeader">
                <div id="slider">
                    <div id="headerText1">
                        <div>
                            <h1>زمستون فصل قشنگیه !</h1>

                            <p>خیلی از بچه هم دوست دارند از این قشنگی لذت ببرند ...</p>
                        </div>
                    </div>
                    <div id="headerText2">
                        <div>
                            <h1>موضوع دوم</h1>

                            <p>ما می تونیم در کنار هم شادی رو بسازیم ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="main">
        <section>
            <div id="smallAbout">
                <h1>بدون کاپشن می تونی از <strong>زمستون</strong> لذت ببری؟</h1>

                <p>من (میلاد) زمستون پارسال این کار رو توی پیست اسکی امتحان کردم. فکر می کنید چند دقیقه؟<br>۱۰ دقیقه!
                    سخت بود ولی من به جواب سوالم رسیدم. راستی شما بدون کاپشن می تونید از زمستون لذت ببرید؟</p>
            </div>
            <div class="line"></div>
        </section>

        <section>
            <div id="info">
                <div id="info1">
                    <div id="pic1">
                        <img src="/static/asset/images/pic1.jpg">
                    </div>
                    <div id="text1">
                        <h1>ما می خوایم <span>چیکار</span> کنیم؟</h1>

                        <p>می خوایم دنیای بچه ها رو رنگی کنیم ...<br>ما قصد داریم به کمک شما هزینه خرید تعداد زیادی
                            کاپشن رو فراهم کنیم و طبق برنامه زمانی که از قبل مشخص کردیم به بچه های نیازمند هدیه بدیم تا
                            اونا هم بتونند از زمستون و برف و سرما لذت ببرند. برای اینکه بدونید این ایده از کجا شکل گرفت
                            و قرار هست چه طوری اجرا بشه, قسمت درباره ما رو بخونید. کامل!</p>
                    </div>
                </div>
                <div id="info2">
                    <div id="text2">
                        <h1>مفید بودن <span>حس</span> خوبیه نه؟</h1>

                        <p>این خیلی بده که ما همیشه فکر کنیم فرد دیگه ای به زودی پیدا میشه که شرایط رو بهتر کنه و خودمون
                            دست رو دست بذاریم و فقط ببینیم و ببینیم ... <br>به نظرت نشوندن لبخند رو لبای یه بچه بی
                            سرپرست چه لذتی داره؟ <br>وقتی ببینی که می تونی با پول کمی یه بچه رو کل زمستون گرم نگه داری
                            حس خوبی پیدا می کنی نه؟<br>پس حالا وقتشه که با ما همراه بشی و به کمک هم زمستون گرمی رو برای
                            خیلی ها رقم بزنیم...<br>راستی شما می تونید توی کل مسیر اجرای این پروژه با ما باشید! <span><a
                                    href="#">اطلاعات بیشتر</a><span></p>
                    </div>
                    <div id="pic2">
                        <img src="/static/asset/images/pic2.jpg">
                    </div>
                </div>
            </div>
        </section>

        <div class="line"></div>

        <section>
            <div id="sponser">
                <h2>حامیان این جنبش در شبکه های اجتماعی</h2>

                <div id="sponsers">
                    <ul>
                        <li><a href="#"><img src="/static/asset/images/pyweb.png" alt="بهینه سازی و طراحی سایت پای وب"></a></li>
                        <li><a href="#"><img src="/static/asset/images/tajer.png" alt="حسین زینی وند تاجر الکترونیک"></a></li>
                        <li><a href="#"><img src="/static/asset/images/casement.png" alt="کیسمنت"></a></li>
                        <li><a href="#"><img src="/static/asset/images/sagaret.png" alt="شرکت ساگارت"></a></li>
                        <li><a href="#"><img src="/static/asset/images/khabarchin.png" alt="جدیدترین اخبار ایران خبرچین"></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div id="donate">
                <h1>منم می خوام سهمی داشته باشم ....</h1>

                <p>شما می تونید با (حداقل) ۵۰۰۰ تومان به این جنبش ملحق بشید. همچنین شما می تونید طبق بازه زمانی که از
                    قبل مشخص کردیم در طول این مسیر (شناسایی, خرید و پخش) با ما همراه باشید.<br><span>لطفا بعد از اینکه پرداخت با موفقیت انجام شد منتظر بمونید که دوباره به سایت منتقل داده بشید تا پوستر طراحی شده با عکستون به شما نشان داده بشه.</span>
                </p>

                <div id="pay">
                    <!-- multistep form -->
                    <form id="msform" method="post" action="{% url 'payment:start' %}">
                        {% csrf_token %}
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">پرداخت کمک</h2>

                            <h3 class="fs-subtitle">مبلغ به تومان</h3>

                                <input type="email" name="email" placeholder="ایمیل شما"/>
                                <input type="text" name="name" placeholder="اسم شما"/>
                                <input type="text" name="amount" placeholder="مبلغ مورد نظر"/>
                                <input type="button" name="next" class="next action-button" value="مرحله بعد"/>
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">عکس شما</h2>

                            <h3 class="fs-subtitle">عکس شما برای پوستر</h3>
                            <input type="file" name="twitter" placeholder="Twitter"/>

                            <p style="color:#000">اگر تمایل ندارید عکس شما منتشر بشه مستقیما روی "پرداخت" کلیک کنید.</p>
                            <input type="button" name="previous" class="previous action-button" value="برگشت"/>
                            <input type="submit" id="submit_payment" name="next" class="next action-button" value="پرداخت"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>

        <div class="line"></div>

        <section>
            <div id="statistics">
                <div id="people">
                    <div class="icon">
                        <p id="peopleIcon" class="entypo-users"></p>
                    </div>
                    <div class="info">
                        <p class="infoNumber">۶۹۷ <span>نفر</span></p>

                        <p class="infoText">
                            اینجا یه سری اطلاعات از افرادی که شرکت کردند و از این حرفا میاد ....
                        </p>
                    </div>
                </div>

                <div id="money">
                    <div class="icon">
                        <p id="moneyIcon" class="entypo-heart"></p>
                    </div>
                    <div class="info">
                        <p class="infoNumber">۳۲۵۸۰۰۰ <span>تومان</span></p>

                        <p class="infoText">
                            اینجا یه سری اطلاعات از افرادی که شرکت کردند و از این حرفا میاد ....
                        </p>
                    </div>
                </div>

                <div id="need">
                    <div class="icon">
                        <p id="needIcon" class="entypo-heart-empty"></p>
                    </div>
                    <div class="info">
                        <p class="infoNumber">۱۲۸۵۰۰۰ <span>تومان</span></p>

                        <p class="infoText">
                            اینجا یه سری اطلاعات از افرادی که شرکت کردند و از این حرفا میاد ....
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div id="row">
            <div id="col1" class="footerCol">
                <h1>آخرین <span>رویداد</span>ها</h1>
                <ul>
                    {% block news %}
                    {% endblock %}
                </ul>
            </div>
            <!-- <div id="col2" class="footerCol">
                <div>

                </div>
            </div> -->
            <div id="col3" class="footerCol">
                <h1>عضویت در <span>خبرنامه</span></h1>

                <form>
                    <input type="email" placeholder="ایمیل شما چیه؟">
                    <input type="submit" value="منم هستم!">
                </form>
                <h1><span>حس</span> در شبکه های اجتماعی</h1>

                <div id="social">
                    <ul>
                        <li><a href="#"><span id="facebook" class="entypo-facebook"></span></a></li>
                        <li><a href="#"><span id="twitter" class="entypo-twitter"></span></a></li>
                        <li><a href="#"><span id="gplus" class="entypo-gplus"></span></a></li>
                        <li><a href="#"><span id="youtube" class="entypo-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div id="design">
                <h3>
                    طراحی سایت و برنامه نویسی <span><a href="#">پای وب</a></span>
                </h3>

                <p>زبان قدرتمند <span><a href="#">پایتون - جنگو</a></span></p>

            </div>
        </div>

    </footer>
</div>

</body>
</html>