<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>درباره ما - جنبش انگیزشی حس</title>
	<link rel="stylesheet" type="text/css" href="/static/asset/style/about.css">
</head>
<body>
	<div id="container">
		<header>
			<div id="cover"></div>
			<div id="profile"></div>
		</header>
		<article>
			<div id="content">
				<div id="text">
					<h1>ما کی هستیم؟</h1>
					
					سلام دوستای خوبم. <br>
					من (میلاد جعفری) هستم و به همراه سعیده نیک فردین, این طرح رو تعریف کردیم. ما این موضوع رو خیلی سریع با بقیه دوستان و افراد صاحب نام در میان گذاشتیم تا قبل از شروع زمستون دست به کار بشیم و بچه های کارتن خواب زیادی رو از سرما حفط کنیم. اگر بخوام خلاصه بگم که ما چرا می خوایم این کار رو انجام بدیم باید بگم دلیلش این هست که ما یک نقطه مشترک داریم و اون این هست که <span class="bold">همیشه دوست داریم مفید باشیم</span>.
					ما دوست داریم دیگران رو در شادی و حس خوب خودمون سهیم کنیم.<br>
					روزانه عکس ها و مطالب زیادی در مورد کودکان بی سرپرست و فقیر می بینیم و می خونیم که متاسفانه اکثر اوقات به جز افسوس خوردن و ناراحت شدن کاری نمی کنیم. دسته ای هم به امید راهکار دولت می مونند. اما وقتش رسیده خودمون دست به کار بشیم و دنیای زیبایی برای خودمون نقاشی کنیم. <br>
					طرحی که من و دوستانم قصد داریم با حمایت شما انجام بدم در نگاه اول طرحی ساده به نظر میرسه. بچه های زیادی وجود دارند که برای مقابله با سرمای زمستون به تنها گزینه ی موجود پناه می برند, کارتن! 
					ما می تونیم با حمایت مادی و معنوی شما تعداد زیادی لباس گرم (کاپشن) خریداری کنیم و بین این بچه های بی پناه پخش کنیم و قلب کوچیک اونا رو در طول زمستون گرم نگه داریم.
					<br>
					<br>
					<span class="title">این ایده از کجا اومد؟</span>
					<br>
					شکل گیری این طرح خیلی اتفاقی بود. زمانی که مثل همیشه در حال وب گردی بودم با کلیپی مواجه شدم که تاثیر بسیار زیادی روی من گذاشت. در این کلیپ (دوربین مخفی) کودک یخ زده ای رو می بینیم که مردم برای حفظ این کودک لباس های گرم خودشون رو در میارند و به این کودک هدیه میدند. این کلیپ رو ببینید (یوتیوب): 

					<div id="video">
						<iframe width="560" height="315" src="//www.youtube.com/embed/h4-sfD_ZsC0" frameborder="0" allowfullscreen></iframe>
					</div>
					<br>
					<br>

					<span class="title">مقدار پول و بازه زمانی</span>
					<br>
					ما مبنای قیمت رو برای هر کاپشن پنجاه هزار تومان در نظر گرفتیم. و همچنین در مرحله اول تصمیم داریم تعداد ۱۰۰ کاپشن خریداری کنیم و بین کودکان نیازمند پخش کنیم. پس هزینه ای که برای اجرای این پروژه نیاز داریم مبلغ پنج میلیون تومان هست. 
					بازه زمانی که برای این طرح مشخص کردیم به این صورت هست:<br>
					<span class="bold">مرحله اول:</span> جمع آوری هزینه خرید کاپشن - ۱۶ مهر تا ۱۵ آبان ۹۳ <br>
					<span class="bold">مرحله دوم:</span> خرید کاپشن و لباس گرم با قیمت مناسب<br>
					<span class="bold">مرحله سوم:</span> پخش بین کودکان نیازمند در استان های سردسیر کشور - ۲۰ آبان تا ۱ آذر<br>
					<span class="bold">مرحله چهارم:</span> پخش گزارش های مالی و اجرایی این رویداد - ۱ آذر<br>
					<br>
					<br>

					<span class="title">شناسایی کودکان نیازمند</span>
					<br>
					ما در مرحله جمع آوری هزینه, از راه های مختلف (سازمان های خیریه, ارگان های دولتی و ...) این کودکان رو در مناطق سردسیر شناسایی می کنیم و به امید خدا بعد از فراهم شدن هزینه, از یکی از تولیدی ها این کاپشن ها رو با قیمت مناسب تهیه می کنیم و بین کودکان نیازمند پخش می کنیم. حتی شما دوستان بزرگوار هم می تونید در تمام مراحل اجرای این پروژه در کنار ما باشید.
					<br>
					<br>

					نظر یا پیشنهادی دارید؟ دوست دارید در طول این مسیر همراه ما باشید؟ چه خوب! با ما تماس بگیرید.
					<br>
					<table>
						<tr>
							<td class="right">ایمیل</td>
							<td class="left">majale.hes@gmail.com</td>
						</tr>
						<tr>
							<td class="right">تماس (برای همیاری)</td>
							<td class="left">۰۹۰۱۳۴۵۶۸۷۶۵۴۳</td>
						</tr>
					</table>
					<div id="social">
					<a href="https://facebook.com/hesgroup">فیسبوک</a>
					<a href="https://twitter.com/heseshhast">توییتر</a>
					<a href="https://instagram.com/hesgroup">اینستاگرام</a>
					</div>
				</div>
			</div>
		</article>
		<footer>
			<p>
				طراحی سایت و برنامه نویسی <a href="http://pyweb.ir">پای وب</a>
			</p>
		</footer>
	</div>
</body>
</html>